<head>
  <meta charset="utf-8">
  {% if page.title %}
    <title>{{page.title}} | {{ site.name }}</title>
  {% else %}
    <title>{{ site.name }} - {{ site.description }}</title>
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  {% if page.title %}
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="twitter:title" content="{{ page.title }}" />
  {% endif %}
  
  <!-- <link rel="stylesheet" href="/assets/css/bootstrap.min.css"> -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/sandstone/bootstrap.min.css">
  <link rel='stylesheet' href="http://fonts.googleapis.com/css?family=Arvo" />
  <link rel="stylesheet" href="/assets/css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
