.page-header {
  position: fixed;
  top: 0;
  z-index: 12;
}
.logo {
  position: absolute;
  display: block;
  top: -0.6em;
  left: 0.3em;
}

.main-nav {
  margin-right: 30px;
}
.main-nav > li > a {
  padding: 2em 2em;
}

.arvo {
  font-family: 'Arvo', serif;
}
.hl {
  color: #2196f3;
}

.jumbotron {
  background: none repeat scroll 0 0 #83d0f0;
  position: relative;
  padding-top: 8em;
  padding-bottom: 0px;
  margin-bottom: 4em;
}
.jumbotron h2 {
  float: left;
  margin: 0 0 0 5%;
  color: #fff;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  font-size: 1.6em;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}
.jumbotron h2.page-title {
  color: #fff;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  font-size: 2em;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.illustration {
  float: right;
  position: relative;
  top: 1em;
  max-width: 100%;
  margin-right: 2%;
}

section {
  margin-bottom: 3em;
}

.feature {
  font-size: 1.6em;
  vertical-align: center;
}
.feature-icon {
  margin: 10px;
}
.feature-text {
  margin-top: 1em;
  color: #3e3f3a;
}

.article {
  line-height: 1.6;
}
.article p {
  padding-top: 1em;
}

.page-footer {
  background: none repeat scroll 0 0 #3e3f3a;
  clear: both;
  position: relative;
  overflow: hidden;
  padding: 1em 1em 1em;
  display: block;
}
.footer-links {
  list-style: outside none none;
  margin: 0 0 0em;
  padding: 0;
}
.footer-links-social {
  float: right;
  text-align: right;
  width: 50%;
}

@media (min-width: 880px) {
  .jumbotron h2 {
    font-size: 3em;
    width: 40%;
  }
}
